/* Primary = #D85C27 
primary dark = #97401b
primary light = #df7c52
secondary = #2f5c8f
secondary dark = #204064
secondary light = ##587ca5 */

.App {
  position:absolute;
  top:0;
  right:0;
  max-width: 100%;
  background-color: #303030;
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 600px) {
  .App {
    font-size: calc(5px + 1vmin);
  }
}


