/* Primary = #D85C27 
primary dark = #97401b
primary light = #df7c52
secondary = #2f5c8f
secondary dark = #204064
secondary light = #587ca5 */

.App {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  /* background: -webkit-linear-gradient(
    top,
    #303030f3 0%,
    #313131 40%,
    #0000004f 100%
  ); Chrome10-25,Safari5.1-6 */
  background-color: rgb(59, 59, 59);
  font-family: "Roboto", sans-serif;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  /* overflow-x: hidden; */
}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #97401bd0;
  border: 0;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #292929;
}

/* @media (max-width: 600px) {
  .App {
    font-size: calc(5px + 1vmin);
  }
} */

/* @media (min-width: 1500px) {
  .App {
    font-size: calc(10px + 3vmin);
  }
} */
