.card-container {
    
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 30rem));
    grid-gap: 2rem;
    margin: 2rem;
    justify-content: center;
    outline: 1px solid green;
  }