.dashboard_container {
  outline: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60rem, 90rem));
  grid-gap: 2rem;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
}
.work {
  outline: 2px solid green;
  display: flex; 
  justify-content: center;
  align-content: center;
}
