.phrase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.phrase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.phraseButton,
.phraseButton::after {
  width: 4em;
  height: 2em;
  background: linear-gradient(45deg, transparent 5%, #ff7301 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;

  box-shadow: 6px 0px 0px #cc620c;
  outline: transparent;
  position: relative;
}

.phraseButton::after {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.phraseButton {
  width: 5em;
  height: 2em;
  cursor: pointer;
  font-size: 1em;
  font-family: "Staatliches";
  letter-spacing: 0.3rem;
  background: #da6027;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  border-radius: 3rem;
}

.phraseButton:after {
  content: "";
  position: absolute;
  transform: translateX(-55px) translateY(-40px);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0px 0px 50px transparent;
  transition: 500ms;
}

.phraseButton:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.phraseButton:hover:after {
  background: white;
  box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421,
    inset 0px 0px 10px #ffc421;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  25% {
    transform: translateX(-25px) translateY(-35px);
    width: 15px;
    height: 15px;
  }
  50% {
    transform: translateX(-55px) translateY(-30px);
    width: 5px;
    height: 5px;
  }
  75% {
    transform: translateX(-85px) translateY(-35px);
    width: 15px;
    height: 15px;
  }
}

.phraseButton:focus {
  outline: none;
}
