.top20Row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #424242;
  flex-direction: row;
  border-radius: 100px;
  box-shadow: 5px 5px 20px 0.5px rgba(0, 0, 0, 0.329);
  padding: 2rem;
}
@media (max-width: 600px) {
  .top20Row {
    flex-direction: column;
    align-items: stretch;
  }
  .top20Img {
    max-width: 35%;
  }
}
/* > means must be a direct decendant of top20Row and * means everything */
.top20Row > * {
  align-self: center;
}

@media (min-width: 601px) {
  /* .top20Row {
    max-height: 110px;
  } */
  .top20Img {
    max-height: inherit;
  }
  .stat {
    align-self: flex-end;
  }
  .top20Row {
    max-height: 150px !important;
  }
  .songInfo {
    width: 50%;
  }
  .songMetrics {
    flex-grow: 2;
  }
}

.top20Img {
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
}
.top20Img img {
  border-radius: 50%;
  box-shadow: 5px 5px 20px 0.5px rgba(0, 0, 0, 0.087);
  max-width: 100%;
  max-height: 100%;
}
.songInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 1em;
}

.songMetrics {
  /* flex-basis: auto; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  color: white;
  padding: 0.5em;
}

.metric {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.songName {
  color: #d85c27;
}
.songArtist {
  color: white;
}
.statName {
  align-self: center;
}
.stat {
  padding-right: 30px;
}
.rank {
  display: flex;
  flex-direction: column;
}
