.firstbar {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  padding: 1rem;
  width: 20vw;

  box-shadow: 5px 5px 20px 0.5px rgba(0, 0, 0, 0.178);
  border-radius: 1rem;
}

.secondbar {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  padding: 1rem;
  width: 20vw;

  box-shadow: 5px 5px 20px 0.5px rgba(0, 0, 0, 0.178);
  border-radius: 1rem;
}

.thirdbar {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  padding: 1rem;
  width: 20vw;

  box-shadow: 5px 5px 20px 0.5px rgba(0, 0, 0, 0.178);
  border-radius: 1rem;
}

.bars {
  display: flex;
  align-items: center;
  gap: 5vw;
  margin: 1rem;
  outline: 1px solid green;
}

.firstbar > h3 {
  padding: 0.5rem;
}

.secondbar > h3 {
  padding: 0.5rem;
}

.thirdbar > h3 {
  padding: 0.5rem;
}
