
.firstbar{
    display: flex;
    float: left;
    margin-left: 10rem;
    padding: 1rem;
    height: 20vh;
    width: 20vw;
}

.secondbar{
    display: flex;
    float: left;
    margin-left: 6rem;
    padding: 1rem;
    height: 20vh;
    width: 20vw;
}

.thirdbar{
    display: flex;
    float: left;
    margin-left: 6rem;

    padding: 1rem;
    height: 20vh;
    width: 20vw;
}

.bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}