.firstbar {
  display: flex;
  float: left;
  margin-left: 6rem;
  padding: 1rem;
  height: 20vh;
  width: 20vw;
  outline: 1px solid red;
}

.secondbar {
  display: flex;
  float: left;
  margin-left: 6rem;
  padding: 1rem;
  height: 20vh;
  width: 20vw;
  outline: 1px solid red;
}

.thirdbar {
  display: flex;
  float: left;
  margin-left: 6rem;

  padding: 1rem;
  height: 20vh;
  width: 20vw;
  outline: 1px solid red;
}

.bars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  outline: 1px solid green;
  margin: 1rem;
}
